* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }

.container {
    max-width: 750px;
    margin: 20px auto 0 auto;
    padding: 30px;
}

.container h1 {
    text-align: center;
}

.form-row {
    max-width: 400px;
    margin: auto;
    padding: 5px 0;
}

.form-row--flex {
    display: flex;
}

.form-row input {
    padding: 5px 5px;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    flex: 1;
}

.form-row input:focus {
    border: 1px solid skyblue;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.form-row--2-col {
    justify-content: space-between;
}

.form-row--2-col input {
    flex: 0;
    flex-basis: 45%;
}

.form-row--4-col {
    justify-content: space-between;
}

.form-row--4-col label {
    flex: 0;
    flex-basis: 20%;
    align-self: center;
}

.form-row--4-col p {
    flex: 0;
    flex-basis: 66%;
}

#register-text {
    padding: 1px 8px 3px 8px;
    font-size: 0.8em;
    color: white;
    background-color: #4287f5;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 8px;
}

.form-row input[type="submit"] {
    padding: 10px 0;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 8px;
    outline: none;
}

#register {
    color: white;
    background-color: #4287f5;
}

#signin {
    color: white;
    background-color: green;
}

.form-row input[type="submit"]:hover {
    cursor: pointer;
}