<form [formGroup]="form">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Content</mat-label>
        <textarea matInput formControlName="body" placeholder="write your notes here"></textarea>
    </mat-form-field>
    <div>
        <button mat-raised-button (click)="reset()">Reset</button>
        <button *ngIf="!isOnEdit; else displayUpdate" #toggleBtn mat-raised-button (click)="addNote(form.value)">Add</button>
        <ng-template #displayUpdate>
            <button mat-raised-button (click)="update(oldID, form.value)">Update</button>
        </ng-template>
    </div>
</form>