div {
    width: 80vw;
    margin: 25px auto 0;

    mat-card {
        width: 70%;
        margin: 20px auto 10px;
        border-radius: 7px;

        div {
            width: fit-content;
            margin-left: auto;
            margin-right: 0;

            button:first-child {
                margin-right: 15px;
            }
        }

    }
}