* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

.container {
    margin-top: 20px;
    padding: 0 10%;
}

.userList-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 20px;
}

.userList-container .user-box {
    flex: 0 1 100%;
    margin: 20px 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
}

.userList-container .user-box > div {
    margin-left: 20px;
}

.userList-container .user-box .user-thumbnail {
    height: 90%;
    width: 13%;
}

.userList-container .user-box .user-thumbnail > img {
    height: 100%;
    width: 100%;
    box-shadow: 3px 3px 2px navy;
    border-radius: 5px;
}

.userList-container .user-box .btns {
    margin-top: 7px;
}

.userList-container .user-box .dob-label {
    display: none;
}

.userList-container .user-box .dob-label-reveal {
    display: inline;
}

.reload-btn-container {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
}

.reload-btn {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
}

@media (min-width: 768px) {
    .userList-container .user-box {
        flex: 0 0 45%;
    }
}