<div class="background">
  <div class="wrapper">
  
    <div class="date">
      {{ today | date : 'mediumDate' }}
    </div>
  
    <section class="main-content">
      <h1>Complete Angular Tutorial?</h1>
      <p>
        Welcome to the Angular Tutorial. This tutorial covers all versions of
        Angular Starting from Angular 2 to the latest editions, e.g., Angular 8,
        Angular 9 & Angular 10. We created a simple step-by-step tutorial
        for beginners to learn all the features of Angular.
      </p>
  
      <form>
        <div>
          <p>Sign up for free content</p>
          <div class="row-one">
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
          </div>
          <div class="row-two">
            <input type="text" placeholder="Email Address">
          </div>
          <div class="row-three">
            <input type="text" placeholder="Password">
          </div>
          <button>Register</button>
        </div>
      </form>
    </section>

    <section class="sub-content">
      <div class="row-one">
        <p>{{ card_description }}</p>
        <div>
          <button>Join Today</button>
        </div>
      </div>

      <div class="row-two">
        <p>{{ card_description }}</p>
        <div>
          <button>Join Today</button>
          <button>Contact Us</button>
        </div>
      </div>
    </section>
  
  </div>
</div>
